.postCard {
  width: 420px;
  background: #00353e;
  padding: 20px;
  border-radius: 25px;
  color: white;
}


.postCardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.avatarPlaceholder {
  width: 45px;
  height: 45px;
  background: white;
  border-radius: 50%;
}


.likes {
  color: #a2b3b3;
  font-size: 20px;
}


.postText {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 2px solid rgba(255, 255, 255, 0.25);
  font-size: 20px;
  margin-bottom: 20px;
}


.postImage {
  width: 100%;
  border-radius: 12px;
}
