:root {
  font-size: clamp(14px, 1vw, 18px);
}

.main {
  display: flex;
  width: 100%;
  padding: 1.5rem;
  background: #111;
}


.leftMenu {
  width: 240px;
  min-width: 200px;
  background: linear-gradient(#81014a, #2e0030);
  border-right: 2px solid rgba(255, 255, 255, 0.25);
  padding: 1rem;
  height: 90vh;
}

.menuItem {
  display: flex;
  align-items: center;
  margin: 1.4rem 0;
  font-size: 1.1rem;
  gap: 0.6rem;
  cursor: pointer;
}

.menuItem span {
  color: #fff;
}


.content {
  flex: 1;
  display: grid;
  justify-content: center;
  padding: 0 2rem;
}

.postsGrid {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.postCard {
  background: #004652;
  border-radius: 1.2rem;
  padding: 1.6rem;
  color: #fff;
  max-width: 500px;
}

.avatar {
  width: 42px;
  height: 42px;
  background: #dcdcdc;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 1rem;
}

.postText {
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.postImage {
  width: 100%;
  border-radius: 0.8rem;
  object-fit: cover;
}



.mainMobile {
  flex-direction: column;
  align-items: center;
}

.mainMobile .leftMenu {
  width: 100%;
  height: auto;
  border-right: none;
  display: flex;
  justify-content: space-around;
}

.mainMobile .menuItem {
  margin: 0.5rem 0;
}

.mainMobile .content {
  padding: 1rem 0;
}

.mainMobile .postsGrid {
  grid-template-columns: 1fr;
}



.mainTablet {
  display: flex;
}

.mainTablet .leftMenu {
  width: 180px;
}

.mainTablet .postsGrid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
