.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  text-align: center;
  font-size: 20px;
  color: black;
}

label {
  font-size: 14px;
}

input,
textarea {
  background: #4a2e2e;
  border: none;
  border-radius: 6px;
  padding: 8px;
  color: white;
}

textarea {
  min-height: 80px;
}

.tags {
  display: flex;
  gap: 8px;
}

.tags span {
  background: #3d073c;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
}

.imageBlock {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.imagePlaceholder {
  width: 100px;
  height: 100px;
  background: #ddd;
  border-radius: 12px;
}

.submit {
  margin-top: 12px;
  background: #4a2e2e;
  color: rgb(77, 46, 46);
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}
.name{
   color: black;
}